name: Snapshot

on:
  push:
    branches:
      - main
      - master

jobs:
  build:
    if: ${{ github.repository == 'Netflix/spectator' }}
    runs-on: ubuntu-latest
    environment: Publish
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Gradle wrapper validation
        uses: gradle/actions/wrapper-validation@v5
      - name: Set up JDK 8
        uses: actions/setup-java@v5
        with:
          java-version: 8
          distribution: 'zulu'
          cache: 'gradle'
      - run: echo "JDK8=$JAVA_HOME" >> $GITHUB_ENV
      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: 25
          distribution: 'zulu'
          cache: 'gradle'
      - run: echo "JDK25=$JAVA_HOME" >> $GITHUB_ENV
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: 'zulu'
          cache: 'gradle'
      - run: echo "JDK21=$JAVA_HOME" >> $GITHUB_ENV
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: 'zulu'
          cache: 'gradle'
      - run: echo "JDK17=$JAVA_HOME" >> $GITHUB_ENV
      - name: Build
        run: ./gradlew build snapshot
        env:
          NETFLIX_OSS_SIGNING_KEY: ${{ secrets.ORG_SIGNING_KEY }}
          NETFLIX_OSS_SIGNING_PASSWORD: ${{ secrets.ORG_SIGNING_PASSWORD }}
          NETFLIX_OSS_REPO_USERNAME: ${{ secrets.ORG_NETFLIXOSS_USERNAME }}
          NETFLIX_OSS_REPO_PASSWORD: ${{ secrets.ORG_NETFLIXOSS_PASSWORD }}
